/*Theme Colors:
  Pinkish red: #f5487f
  Darker red: #c7417b
  Red purple: #8f3b76
  Dark purple: #553772
  Dark blue: #1f306e;
*/

.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  font-family: "Concert One", sans-serif;
  background-color: #1f306e;
}
.header{
  color: #f5487f;
  height: 30%;
  text-align: center;
  font-size: 3em;
}
ul {
  background-color: #553772;
  color: #c7417b;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}
li {
  display: inline;
  float: left;
}
a {
  text-decoration: none;
  color: white;
}
a:visited{
  color: white;
}
li a:hover{
  background-color: #f5487f;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active{
   background-color: #8f3b76;
}

.nav{
  background-color: #553772;
}
