/*Theme Colors:
  Pinkish red: #f5487f
  Darker red: #c7417b
  Red purple: #8f3b76
  Dark purple: #553772
  Dark blue: #553772;
*/

.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  font-family: "Concert One", sans-serif;
}
header{
  background-color: #553772
  color: #f5487f;
}
ul {
  background-color: purple;
  color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
a {
  text-decoration: none;
  color: white;
}
a:visited{
  color: white;
}
li:hover{
  background-color: blue;
}
li a:hover{
  background-color: red;
}
#nav{
  background-color: #553772;
}
