/*Theme Colors:
  Pinkish red: #f5487f
  Darker red: #c7417b
  Red purple: #8f3b76
  Dark purple: #553772
  Dark blue: #1f306e;
*/

.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  position: aboslute;
  font-family: "Concert One", sans-serif;
  background-color: #1f306e;
}
ul {
  background-color: #553772;
  color: #c7417b;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}
li {
  display: inline;
  float: left;
}
a {
  text-decoration: none;
  color: white;
}
a:visited{
  color: white;
}
li a:hover{
  border: 0px solid #553772;
  border-radius: 12px;
  background-color: #f5487f;
}
li a {
  transition: background-color 1s;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active{
  background-color: #8f3b76;
  border: 0px solid #553772;
  border-radius: 12px;
}
.header{
  border: 0px solid #553772;
  border-radius: 12px;
  position: relative;
  margin-top: 0px;
  background-image: url("images/triang.png");
  background-repeat: no-repeat;
  background-size: 100% 650px;
  color: #f5487f;
  height: 500px;
  width: 100%;
  text-align: center;
  font-size: 4em;
}
.nav{
  border: 0px solid #553772;
  border-radius: 12px;
  margin-top: 10px;
  position: sticky;
  background-color: #553772;
  font-size: 1.5em;
  padding: 5px 5px;
}
.content {
  position: relative;
  border: 2px solid #8f3b76;
  border-radius: 12px;
  margin: 10px;
  padding: 20px 24px;
  background-color: #8f3b76;
  height: 700px;
}
.title{
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px #8f3b76;
}
